<header class="text-center">
  <h1>Open Vagas</h1>
  <p>Mural de vagas compartilhadas pela comunidade.</p>
</header>

<%= search_form_for @q, url: root_path do |f| %>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <%= f.label :name_cont, "Carreira" %>
        <%= f.search_field :name_cont, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <%= f.label :contract_eq, "Modalidade" %>
        <%= f.select :contract_eq, options_from_collection_for_select(@contracts, :second, :first, @q.contract_eq), { include_blank: I18n.t('helpers.select.prompt') }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <%= f.label :state_eq, "Localidade" %>
        <%= f.select :state_eq, options_from_collection_for_select(Brazil.states, :first, :second, @q.state_eq), { include_blank: I18n.t('helpers.select.prompt') }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-sm">
      <%= f.button I18n.t('helpers.submit.search'), class: 'btn btn-danger', style: 'margin-top:31px;' %>
    </div>
  </div>
<% end %>

<% @positions.each do |position|%>
  <%= render position %>
<% end %>

<p class="d-block. text-center mt-3">
  <div class="text-center">
    <%= paginate @positions, theme: 'twitter-bootstrap-4' %>
  </div>
</p>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
