<h2>Minha Empresa</h2>

<%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= image_tag(@company.logo, class: 'company-logo') if @company.logo.attached? %>
  <%= f.input :logo %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
